body{

    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
font-family: Arial, Helvetica, sans-serif;
}


.container{
    border-radius: 15px;

    width: 100%;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #e74c3c, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e74c3c, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    margin: auto;
    overflow: hidden;


   
   
    

}

.card{

    display: flex;
    flex-direction: column;
    width: 100%;

    background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border: 2px solid black;
border-radius: 10px;
overflow: hidden;

}

.card-title{
    display: flex;
    width: 100%;
    
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: url("https://images.unsplash.com/photo-1500382017468-9049fed747ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=100");
    background-size: 100% 100%;
    background-blend-mode: overlay;
    background: #4b6cb7;
    font-weight: bold;

    
}

#temp{
    font-size: 6vw;
}



.city{
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    word-break: break-all;
    color: aliceblue;
    justify-content: space-between;


}

.weatherTomorrow{
    font-size: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: lemonchiffon;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.75);
    justify-content: space-evenly;

    
}



.weather{

    display: flex;
    flex-direction: column;
        font-size: 3vw;
        color: aliceblue;
        align-items: center;
        justify-content: space-between;


}
 #icon{

    display: block;
    width: 100%;
    object-fit: cover;
    height: 60%;
    

    
}

#icon:hover {
    opacity: 0.3;
  }

#icon2{

    display: block;
    height: 50%;
    

    
}


.card-content{
  display: flex;
 flex-direction: column;
width: 100%;
font-size: 2vw;
color: aliceblue;
align-items: center;
font-weight: bold;


}

.loading img{
   display: block;
   margin:  0 auto;
   width: 10vw;
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);

}

.parent {
    display: grid;
    
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-radius: 10px;
    overflow: hidden;
    perspective: 1px;
    border-collapse: separate;
    }
    
    .div1 { grid-area: 2 / 2 / 5 / 5; 
        background: rgb(156, 149, 149);
        display: flex;
        flex-direction: column;
        border-radius: 15px;
        box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);


    }

    #button{
              border-radius: 15px;
              margin-top: 5px;
              margin-bottom: 5px;

              box-shadow:inset 0px -3px 7px 0px #9fb4f2;
              background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
              background-color:#7892c2;
              border-radius:3px;
              border:1px solid #4e6096;
              display:inline-block;
              cursor:pointer;
              color:#ffffff;
              font-family:Arial;
              font-size:2vw;
              padding:9px 23px;
              text-decoration:none;
              text-shadow:0px 1px 0px #283966;
    }

    
    #button:hover {
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color:#053841;
    }

    .form{

        display: none;
    }

    .showElements{
        
        box-shadow:inset 0px -3px 7px 0px #9fb4f2;
        background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
        background-color:#7892c2;
        border-radius:3px;
        border:1px solid #4e6096;
        display:inline-block;
        cursor:pointer;
        color:#ffffff;
        font-family:Arial;
        font-size:1vw;
        padding:1vw 1vw;
        text-decoration:none;
        text-shadow:0px 1px 0px #283966;
    }

    .showElements:hover {
        background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
        background-color:#053841;
    }

    .inputForm{


        border: 2px solid blue;
  border-radius: 4px;
    }

    

    .inputForm:focus {
        border: 3px solid #555;
      }

      .weatherTomorrow:hover{
        font-size: 2vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: lemonchiffon;
        border-radius: 7px;
        box-shadow: 0px 0px 10px 8px rgba(0,0,0,0.75);
        justify-content: space-evenly;
        
      }